* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  background: floralwhite;
}



.active {

  background: magenta;

}

.toggle {

  background: magenta;

}
.floor_name{
  display: inline;
  position: absolute;
  top: 30px;
  left: 30px;
}