<!DOCTYPE html>
<html lang="en" ng-app="App">
<head>
    <meta charset="UTF-8">
    <title>Security</title>
    <link rel="stylesheet" href="bower_components/components-font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/konva/konva.min.js"></script>
    <script src="bower_components/localforage/dist/localforage.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers/main.controller.js"></script>
    <script src="js/services/storage.service.js"></script>
    <script src="js/services/konva.service.js"></script>
</head>
<body ng-controller="AppCtrl as ctrl">
<h4 ng-show="ctrl.selection === undefined" class="floor_header">{{ctrl.floors[ctrl.current].name}}</h4>
<a ng-show="ctrl.selection === undefined" ng-click="ctrl.toggle(this, 'draggable')"><i class="locker fa" ng-class="{'fa-lock': ctrl.draggable === false, 'fa-unlock': ctrl.draggable === true}"></i></a>
<nav>
    <a class="left active"
       ng-click="ctrl.switch(this, 'selection', 'floors'); ctrl.destroy(); ctrl.switch(this, 'sideNav', false)">
        <span class="icon-floor active"></span>
        <p class="title">Floors</p>
    </a>
    <a class="center"
       ng-click="ctrl.switch(this, 'aside', 'plan')">
        <span class="icon-floor-plan"></span>
        <p class="title">floor plan</p>
    </a>
    <a class="right"
       ng-click="ctrl.switch(this, 'aside', 'devices')">
        <span class="icon-devices"></span>
        <p class="title">Devices</p>
    </a>
</nav>
<section ng-switch on="ctrl.selection">
    <article ng-switch-when="floors">
        <div ng-repeat="floor in ctrl.floors track by $index" >
            <a class="floor" ng-click="ctrl.checkPlan(this, this.$index)">
                <i class="fa fa-trash remove" ng-click="ctrl.delete(this, this.$index)"></i>
                <p class="title" ng-bind="floor.name"></p>
            </a>
        </div>
        <a class="add_floor"
           ng-click="ctrl.switch(this, 'modal2', true)">
            <p class="title">Create new plan</p>
        </a>
    </article>
    <article ng-switch-when="plan">
        <h2 class="floor-title" ng-bind="ctrl.floors[ctrl.current].name"></h2>
        <a class="simple" ng-click="ctrl.switch(this, 'modal', true)">
            <p class="title">Simple</p>
        </a>
        <a class="complex"
           ng-click="
           ctrl.update(this, ctrl.current);
           ctrl.switch(this, 'sideNav', true);
           ctrl.switch(this, 'aside', 'plan');
           ctrl.switch(this, 'selection', 'none')">
            <p class="title">Complex</p>
        </a>
    </article>
</section>
<div ng-show="ctrl.selection === undefined" class="drawing" id="container"></div>
<aside ng-switch on="ctrl.aside" ng-show="ctrl.sideNav === true">
    <div ng-switch-when="plan">
        <div ng-repeat="button in firstPanel track by $index">
            <a class="{{button}}"
               ng-click="ctrl.add(this, this.firstPanel[this.$index])"
               ng-class="{'actice': ctrl.KonvaService.draw === true}">
                <span class="icon-{{button}}"></span>
                <p ng-hide="button === 'pen'" class="title" ng-bind="button"></p>
            </a>
        </div>
    </div>
    <div ng-switch-when="devices">
        <div ng-repeat="button in secondPanel track by $index">
            <a class="{{button}}" ng-click="ctrl.add(this, this.secondPanel[this.$index])">
                <span class="icon-{{button}}"></span>
                <p class="title" ng-bind="button"></p>
            </a>
        </div>
    </div>
</aside>
<div class="modal create walls" ng-show="ctrl.modal === true">
    <a ng-click="ctrl.switch(this, 'modal', false)"><i class="fa fa-times"></i></a>
    <label class="title" for="walls_width">Enter plan width/height</label>
    <input id="walls_width" type="text" ng-model="walls.width">
    <input id="walls_height" type="text" ng-model="walls.height">
    <a class="add" ng-click="ctrl.add(this, 'walls'); ctrl.switch(this, 'modal', false); ctrl.switch(this, 'sideNav', true); ctrl.switch(this, 'aside', 'plan'); ctrl.switch(this, 'selection', 'none')">Create</a>
</div>
<div class="modal create" ng-show="ctrl.modal2 === true">
    <a ng-click="ctrl.switch(this, 'modal2', false)"><i class="fa fa-times"></i></a>
    <label class="title" for="floor_name">Enter plan name</label>
    <input id="floor_name" type="text" ng-model="floor.name">
    <a class="add" ng-click="ctrl.addFloor(this); ctrl.switch(this, 'modal2', false)">Create</a>
</div>
<div style="width: 300px; height: 300px; background-color: darkkhaki; position: fixed; left: 20px; top: 50px" ng-show="ctrl.modal3 === true">
    <a ng-click="ctrl.switch(this, 'modal3', false)"><i class="fa fa-times"></i>close</a>
    <a ng-hide="ctrl.KonvaService.item.target.className === 'Line'" ng-click="ctrl.switch(this, 'modal3', false); ctrl.KonvaService.rotation(this)"><i class="fa fa-undo"></i>rotate</a>
    <a ng-click="ctrl.switch(this, 'modal3', false); ctrl.KonvaService.remove(this)"><i class="fa fa-trash"></i>delete</a>
    <a ng-click="ctrl.switch(this, 'modal3', false); ctrl.clear(this)"><i class="fa fa-trash"></i>clear</a>
    <a ng-show="ctrl.KonvaService.item.target.className === 'Line'" ng-click="ctrl.switch(this, 'modal3', false); ctrl.clear(this)">horizontal</a>
    <a ng-show="ctrl.KonvaService.item.target.className === 'Line'" ng-click="ctrl.switch(this, 'modal3', false); ctrl.clear(this)">vertical</a>
    <a ng-click="ctrl.switch(this, 'modal3', false); ctrl.add(this, this.ctrl.KonvaService.item.target.className)"><i class="fa fa-clone"></i>clone</a>
    <label for="line_length">Line Length</label>
    <input id="line_length" type="text" ng-show="ctrl.KonvaService.item.target.className === 'Line'" ng-model="ctrl.line_length">
    <a ng-show="ctrl.KonvaService.item.target.className === 'Line'" ng-click="ctrl.switch(this, 'modal3', false); ctrl.KonvaService.changeLineLength(this)">save</a>
</div>
</body>
</html>